<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CameraSim.Properties.Settings>
            <setting name="VIDEO_STORAGE_ACCOUNT" serializeAs="String">
                <value>tswbatchdata</value>
            </setting>
        </CameraSim.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CameraSim.Properties.Settings>
            <setting name="VIDEO_SAS" serializeAs="String">
                <value>?sv=2016-05-31&amp;sig=aNRx9d6XyTtkNUzZw44uRPtubHXPO4Rl5CG5YwNAkmA%3D&amp;st=2017-11-07T23:36:00Z&amp;se=2017-11-09T23:36:00Z&amp;srt=co&amp;ss=bq&amp;sp=racupwdl</value>
            </setting>
        </CameraSim.Properties.Settings>
    </userSettings>
</configuration>